<div class="text-xs-center pb-1" fxLayoutGap="225px">
    <h3>Escriba "BORRAR" para eliminar la empresa {{data.nombre}}.<br> Al eliminar esta empresa eliminara todas las entidades relacionadas con esta</h3>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-around">
    <div fxLayoutAlign="space-around">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Clave" [(ngModel)]="intBorrar">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around">
      <button mat-raised-button color="primary" (click)="closeDialog()">Cancelar</button>
      <button mat-raised-button color="primary" *ngIf="comprobarBorrar()" (click)="deleteEmpresa()">Eliminar</button>
    </div>
  </div>